@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-bg: oklch(0.3576 0.0272 259.15);
  --color-bg-main: oklch(0.2749 0.0188 258.37);
  --color-bg-card: oklch(0.2983 0.0191 254.81);
  --color-primary: oklch(1 0 0);
  --color-primary-inverted: oklch(0 0 0);
  --color-primary-placeholder: oklch(0.4025 0.0285 258.36);

  --color-image-gradient: linear-gradient(
    152.19deg,
    rgba(136, 235, 239, 0.9) -0.04%,
    rgba(83, 91, 230, 0.9) 100%
  );
  --color-button-gradient: linear-gradient(
    90.8deg,
    rgba(144, 217, 224, 0.9) 0.2%,
    rgba(84, 96, 230, 0.9) 100%
  );
  --color-button-gradient-inverted: linear-gradient(
    256.33deg,
    rgba(144, 217, 224, 0.9) 9.04%,
    rgba(84, 96, 230, 0.9) 92.2%
  );

  --radius-sm: 0.625rem;
  --radius-md: 1.5625rem;
  --radius-lg: 1.875rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-2xs: 1.25rem;
  --font-xs: 1.8rem;
  --font-sm: 2rem;
  --font-md: 2.2rem;
  --font-lg: 2.8rem;
  --font-xl: 3rem;
  --font-2xl: 3.7rem;
  --font-3xl: 5rem;

  --spacing-xsm: 0.5625rem;
  --spacing-sm: 0.875rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
}

* {
  margin: 0;
  border: none;
  font-family: "Montserrat", sans-serif;
}
